/* style.css */


/* Mobile screens (landscape phones are wide but short) */
@media screen and (orientation: landscape) and (max-height: 520px) {
    :root {
        font-size: 26px;
    }
}

#app nav.flex>div,
#app .slidev-icon-btn,
#app .slidev-icon-btn>span,
#app .px2.my-auto,
#app .px2.my-auto>span {
    font-size: 16px !important;
    line-height: 1 !important;
}

footer.z-50.slide-bottom,
footer.z-50.slide-bottom>div {
    font-size: 32px !important;
    line-height: 1 !important;
}